{%include "store/base.html" %}

{% load static %}



{% block content %}

    <style>



        body{

            background-color: gray;


        }






    </style>






    <body>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">

            <h3> Your order has been successfully placed!! </h3>
            <br>
            <p>Thank you for shopping with us!</p>

            <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'store' %}">Home</a>
  

        </div>



    </body>
    <br><br>



{% endblock %}
